[project]
	description = Learn C the hard way
[access "refs/*"]
	owner = group user/hopensic (hopensic)
[access "refs/for/refs/*"]
	read = group user/hopensic (hopensic)
	push = group user/hopensic (hopensic)
	label-Code-Review = -2..+2 group user/hopensic (hopensic)
	label-Verified = -1..+1 group user/hopensic (hopensic)
	rebase = group user/hopensic (hopensic)
	removeReviewer = group user/hopensic (hopensic)
	submit = group user/hopensic (hopensic)
[access "refs/heads/*"]
	read = group user/hopensic (hopensic)
	create = group user/hopensic (hopensic)
	push = +force group user/hopensic (hopensic)
	pushMerge = group user/hopensic (hopensic)
[access "refs/tags/*"]
	push = +force group user/hopensic (hopensic)
	pushTag = group user/hopensic (hopensic)
	pushSignedTag = group user/hopensic (hopensic)
